body {
    margin: 0;
    font-family: 'Source Sans Pro';
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}

.navbar_logo {
    font-size: 24px;
    color: white;
}

.navbar_logo i {
    color: #d49466;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li:hover {
    background-color: #d49466;
    border-radius: 4px;
}

.navbar_icons {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
}

.navbar_icons li {
    padding: 8px 12px;
}

.navbar_toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #d49466;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 12px;
    }
    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li {
        width: 100%;
        text-align: center;
    }
    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar_toogleBtn {
        display: block;
    }
    .navbar_menu.active,
    .navbar_icons.active {
        display: flex;
    }
}

main {
    padding-bottom: 100px;
    background-image: url('main.webp');
    background-color: rgb(194, 238, 0);
}

header {
    background-image: url('header.PNG');
    background-color: #680000;
    height: 290px;
    padding: 20px;
}

h1 {
    text-align: center;
    color: yellow;
    padding: 75px;
}

section {
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

section div {
    background-color: yellow;
    width: 23%;
    height: 300px;
}

.sa {
    opacity: 0;
    transition: all .5s ease;
}

.sa-up {
    transform: translate(0, 100px);
    text-align: center;
    line-height: 300px;
}

.sa-down {
    transform: translate(0, -100px);
    text-align: center;
    line-height: 300px;
}

.sa-right {
    transform: translate(-100px, 0);
    text-align: center;
    line-height: 300px;
}

.sa-left {
    transform: translate(100px, 0);
    text-align: center;
    line-height: 300px;
}

.sa-rotateL {
    transform: rotate(180deg);
    text-align: center;
    line-height: 300px;
}

.sa-rotateR {
    transform: rotate(-180deg);
    text-align: center;
    line-height: 300px;
}

.sa-scaleUp {
    transform: scale(.5);
    text-align: center;
    line-height: 300px;
}

.sa-scaleDown {
    transform: scale(1.5);
    text-align: center;
    line-height: 300px;
}

.sa.show {
    opacity: 1;
    transform: none;
}